h1, p{
  display:inline;
}
em{
  display:block;
}
#div1{
  background-color:blueviolet;
  border:2px solid blueviolet;
  display:none;
  height:100px;
}
div{
  background-color:black;
  height:100px;
  position:relative;
  top:20px;
  left:30px;
}