.old{
  border:2px solid black;
  line-height:200px;
  height:200px;
  margin:10px;
}

/* div p{
  //background-color:aqua;
}
div > p{
  //background-color:green;
}
div ~ p{
  //background-color: pink;
}
div + p{
  //background-color: yellow;
} */
#divAsButton{
  border:2px solid black;
  width:100px;
  text-align: center;
  padding: 2px;
  line-height:30px;
}
#divAsButton:hover{
  background-color:peachpuff;
}
p{
  /* //display: none; */
  background-color: transparent;
}
div:hover + p{
  display: block;
}
p:first-child{
  color:blue;
}
p.p-element::first-line{
  background-color: peachpuff;
}
